In [1]:
import pandas as pd


# Load 5 datasets
a_df = pd.read_csv('./data/aisles.csv', sep=';')
d_df = pd.read_csv('./data/departments.csv', sep=';')
i_df = pd.read_csv('./data/instacart_orders.csv', sep=';')
o_df = pd.read_csv('./data/order_products.csv', sep=';')
p_df = pd.read_csv('./data/products.csv', sep=';')

dfs = [
    a_df, # 'a' for 'aisles'
    d_df, # 'd' for 'departments'
    i_df, # 'i' for 'instacart_orders'
    o_df, # 'o' for 'order_products'
    p_df  # 'p' for 'products'
]

In [2]:
# Look at some metadata
def print_lots_of_info(df):
    df.info(show_counts=True)
    print(df.shape)
    print()
    print(df.describe())
    print()
    print(df.head(5))
    print()
    print(df.sample(5))
    print()
    do_each_col_too(df)
    print()
    print()

def do_each_col_too(df):
    for c in df.columns:
        print(c, 'count of unique values =', df[c].nunique())
        # count the number of duplicated values in each column
        mask = df.duplicated(subset=c, keep=False)
        duplicated_values = df.loc[mask, c].unique()
        num_duplicates = len(duplicated_values)
        if num_duplicates > 0:
            print(f"Column '{c}' has {num_duplicates} duplicated values: {duplicated_values}")
        print()



for df in dfs:
    print_lots_of_info(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   aisle_id  134 non-null    int64
 1   aisle     134 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.2+ KB
(134, 2)

         aisle_id
count  134.000000
mean    67.500000
std     38.826537
min      1.000000
25%     34.250000
50%     67.500000
75%    100.750000
max    134.000000

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

     aisle_id                aisle
37         38         frozen meals
26         27        beers coolers
2           3  energy granola bars
36         37        ice cream ice
126       127    body lotions soap

aisle_id count of unique values = 134

aisle count of unique values = 134



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   department_id  21 non-null     int64
 1   department     21 non-null     object
dtypes: int64(1), object(1)
memory usage: 464.0+ bytes
(21, 2)

       department_id
count      21.000000
mean       11.000000
std         6.204837
min         1.000000
25%         6.000000
50%        11.000000
75%        16.000000
max        21.000000

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

    department_id  department
0               1      frozen
2               3      bakery
18             19      snacks
4               5     alcohol
15             16  dairy eggs

department_id count of unique values = 21

department count of unique values = 21



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478967 entries, 0 to 478966
Data columns (total 6 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   order_id                478967 non-null  int64
 1   user_id                 478967 non-null  int64
 2   order_number            478967 non-null  int64
 3   order_dow               478967 non-null  int64
 4   order_hour_of_day       478967 non-null  int64
 5   days_since_prior_order  450148 non-null  float64
dtypes: float64(1), int64(5)
memory usage: 21.9 MB
(478967, 6)

           order_id        user_id   order_number      order_dow  \
count  4.789670e+05  478967.000000  478967.000000  478967.000000
mean   1.709947e+06  102966.537475      17.157808       2.775058
std    9.869480e+05   59525.328991      17.704688       2.045869
min    4.000000e+00       2.000000       1.000000       0.000000
25%    8.564685e+05   51414.000000       5.000000       1.000000
50%    1.709522e+06  102633.000000      11.000000       3.000000
75%    2.562990e+06  154419.000000      23.000000       5.000000
max    3.421079e+06  206209.000000     100.000000       6.000000

       order_hour_of_day  days_since_prior_order
count      478967.000000           450148.000000
mean           13.446676               11.101751
std             4.224986                9.189975
min             0.000000                0.000000
25%            10.000000                4.000000
50%            13.000000                7.000000
75%            16.000000               15.000000
max            23.000000               30.000000

   order_id  user_id  order_number  order_dow  order_hour_of_day  \
0   1515936   183418            11          6                 13
1   1690866   163593             5          5                 12
2   1454967    39980             4          5                 19
3   1768857    82516            56          0                 20
4   3007858   196724             2          4                 12

   days_since_prior_order
0                    30.0
1                     9.0
2                     2.0
3                    10.0
4                    17.0

        order_id  user_id  order_number  order_dow  order_hour_of_day  \
182622     98137    18984             8          1                 21
292902   2001340    17867             6          0                 16
91976    2634776    57389             1          5                 15
72812     600447   119024            26          1                 20
232189   2093488   194651             7          6                 17

        days_since_prior_order
182622                    16.0
292902                     9.0
91976                      NaN
72812                      7.0
232189                    27.0

order_id count of unique values = 478952
Column 'order_id' has 15 duplicated values: [1918001  794638  408114 2845099 1112182 1782114 2125197 2160484 1021560
  467134 1919531 2282673 1286742 2232988  391768]

user_id count of unique values = 157437
Column 'user_id' has 102082 duplicated values: [183418 163593  82516 ...  26798 201408  90787]

order_number count of unique values = 100
Column 'order_number' has 100 duplicated values: [ 11   5   4  56   2  40  33  18  21  34  19   7  63  29   9  12  14  24
   1  38   3  27   8  25   6  28  58  17  13  15  48  26  86  30  16  10
  78  23  35  41  39  59  77  53  43  32  99  20  68  94  98  46  72  70
  54  37  44  69  49  22  52  60  75  31  47  57  62  67  65  76  81  84
  71  80  51  95  36  83  42  87  55  97  50  61  93  91  79  88  45  82
  64  74  92  66  89  90 100  96  73  85]

order_dow count of unique values = 7
Column 'order_dow' has 7 duplicated values: [6 5 0 4 3 1 2]

order_hour_of_day count of unique values = 24
Column 'order_hour_of_day' has 24 duplicated values: [13 12 19 20 11  8 18 15 16  9 22 10  0 14 17  1  7  6  2 21  3 23  5  4]

days_since_prior_order count of unique values = 31
Column 'days_since_prior_order' has 32 duplicated values: [30.  9.  2. 10. 17. 15. 22.  4.  8.  3. 12. 11.  7.  1.  5.  6. 14. nan
 20. 16. 24. 23. 27. 13.  0. 28. 21. 25. 19. 18. 29. 26.]



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4545007 entries, 0 to 4545006
Data columns (total 4 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   order_id           4545007 non-null  int64
 1   product_id         4545007 non-null  int64
 2   add_to_cart_order  4544171 non-null  float64
 3   reordered          4545007 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 138.7 MB
(4545007, 4)

           order_id    product_id  add_to_cart_order     reordered
count  4.545007e+06  4.545007e+06       4.544171e+06  4.545007e+06
mean   1.711166e+06  2.558084e+04       8.351669e+00  5.905025e-01
std    9.850955e+05  1.409552e+04       7.080368e+00  4.917411e-01
min    4.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.608170e+05  1.353500e+04       3.000000e+00  0.000000e+00
50%    1.711530e+06  2.527200e+04       6.000000e+00  1.000000e+00
75%    2.561311e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421079e+06  4.969400e+04       6.400000e+01  1.000000e+00

   order_id  product_id  add_to_cart_order  reordered
0   2141543       11440               17.0          0
1    567889        1560                1.0          1
2   2261212       26683                1.0          1
3    491251        8670               35.0          1
4   2571142        1940                5.0          1

         order_id  product_id  add_to_cart_order  reordered
3231828    802956       33352                3.0          0
4226363   3064529       12481               11.0          1
4432248   1996336       44397                3.0          1
2540989    959975        3222                1.0          0
1303901    340067       22228               18.0          1

order_id count of unique values = 450046
Column 'order_id' has 428199 duplicated values: [2141543  567889 2261212 ... 2723101 2447495 1029185]

product_id count of unique values = 45573
Column 'product_id' has 40526 duplicated values: [11440  1560 26683 ... 42744 41258 21507]

add_to_cart_order count of unique values = 64
Column 'add_to_cart_order' has 65 duplicated values: [17.  1. 35.  5.  4. 10. 14.  2. 28.  3. 16.  8.  7.  6.  9. 15. 22. 49.
 19. 13. 11. 12. 18. 24. 23. 45. 30. 31. 29. 21. 38. 20. 57. 58. 26. 25.
 39. 34. 40. 27. nan 43. 33. 42. 50. 32. 36. 37. 61. 46. 56. 41. 44. 55.
 54. 47. 63. 48. 60. 62. 53. 59. 52. 51. 64.]

reordered count of unique values = 2
Column 'reordered' has 2 duplicated values: [0 1]



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49694 entries, 0 to 49693
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49694 non-null  int64
 1   product_name   48436 non-null  object
 2   aisle_id       49694 non-null  int64
 3   department_id  49694 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB
(49694, 4)

         product_id      aisle_id  department_id
count  49694.000000  49694.000000   49694.000000
mean   24847.500000     67.773192      11.728478
std    14345.566475     38.317265       5.850314
min        1.000000      1.000000       1.000000
25%    12424.250000     35.000000       7.000000
50%    24847.500000     69.000000      13.000000
75%    37270.750000    100.000000      17.000000
max    49694.000000    134.000000      21.000000

   product_id                                       product_name  aisle_id  \
0           1                         Chocolate Sandwich Cookies        61
1           2                                   All-Seasons Salt       104
2           3               Robust Golden Unsweetened Oolong Tea        94
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...        38
4           5                          Green Chile Anytime Sauce         5

   department_id
0             19
1             13
2              7
3              1
4             13

       product_id                              product_name  aisle_id  \
21458       21459      Tomato Basil Bisque RTS Organic Soup        69
13183       13184                Lemon Iced Tea Mix Packets        90
26135       26136  Herbal Laxative Caffeine Free Herbal Tea        94
45893       45894               Zero Calorie Free Sweetener        17
3898         3899               Chocolate Fudge Bite-lettes        45

       department_id
21458             15
13183              7
26135              7
45893             13
3898              19

product_id count of unique values = 49694

product_name count of unique values = 48436
Column 'product_name' has 1 duplicated values: [nan]

aisle_id count of unique values = 134
Column 'aisle_id' has 134 duplicated values: [ 61 104  94  38   5  11  98 116 120 115  31 119  74  56 103  35  79  63
  40  20  49  47   3  41 127 121  81 123 107 131 106  69 100  64  78  83
  58  66  87  14 105  22 134  23 111 128  50   9  96  92  89  88 130  26
  77  65  12  95  19   7   6  97   2 112  10  51  13  75  70  93  34  62
  21  29  45 118   4 108  37 109  91  24  67 132  25 129  46  16  52  17
  73 122  42  59 126  33   1   8  82 114 124 117  72 110  85  44  80 101
  84  30  27  90  48 133  53  28  68  43 125  57  15  55  36  54 102  60
  99  18  39  71 113  86  32  76]

department_id count of unique values = 21
Column 'department_id' has 21 duplicated values: [19 13  7  1 11 16 17 18 12  9  8 14 15  4 21  6 20  5  3  2 10]

In [3]:
i_df = i_df.drop_duplicates()

In [4]:
# column renames
col_renames = [
    { # For a_df
        'aisle_id': 'id',
        'aisle': 'name'
    },
    { # For d_df
        'department_id': 'id',
        'department': 'name'
    },
    { # For i_df
        'order_id': 'id',
        'order_number': 'user_order_number',
        'order_dow': 'day_of_week_numeral'
    },
    { # For o_df
        'add_to_cart_order': 'cart_item_id'
    },
    { # For p_df
        'product_id': 'id',
        'product_name': 'name'
    },
]

In [5]:

a_df = a_df.rename(columns=col_renames[0])
d_df = d_df.rename(columns=col_renames[1])
i_df = i_df.rename(columns=col_renames[2])
o_df = o_df.rename(columns=col_renames[3])
p_df = p_df.rename(columns=col_renames[4])

dfs = [
    a_df, # 'a' for 'aisles'
    d_df, # 'd' for 'departments'
    i_df, # 'i' for 'instacart_orders'
    o_df, # 'o' for 'order_products'
    p_df  # 'p' for 'products'
]

for df in dfs:
    print_lots_of_info(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      134 non-null    int64
 1   name    134 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.2+ KB
(134, 2)

               id
count  134.000000
mean    67.500000
std     38.826537
min      1.000000
25%     34.250000
50%     67.500000
75%    100.750000
max    134.000000

   id                        name
0   1       prepared soups salads
1   2           specialty cheeses
2   3         energy granola bars
3   4               instant foods
4   5  marinades meat preparation

      id                           name
29    30                   latino foods
11    12                    fresh pasta
106  107                 chips pretzels
19    20                   oral hygiene
114  115  water seltzer sparkling water

id count of unique values = 134

name count of unique values = 134



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      21 non-null     int64
 1   name    21 non-null     object
dtypes: int64(1), object(1)
memory usage: 464.0+ bytes
(21, 2)

              id
count  21.000000
mean   11.000000
std     6.204837
min     1.000000
25%     6.000000
50%    11.000000
75%    16.000000
max    21.000000

   id     name
0   1   frozen
1   2    other
2   3   bakery
3   4  produce
4   5  alcohol

    id           name
4    5        alcohol
0    1         frozen
5    6  international
20  21        missing
14  15   canned goods

id count of unique values = 21

name count of unique values = 21



<class 'pandas.core.frame.DataFrame'>
Int64Index: 478952 entries, 0 to 478966
Data columns (total 6 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      478952 non-null  int64
 1   user_id                 478952 non-null  int64
 2   user_order_number       478952 non-null  int64
 3   day_of_week_numeral     478952 non-null  int64
 4   order_hour_of_day       478952 non-null  int64
 5   days_since_prior_order  450135 non-null  float64
dtypes: float64(1), int64(5)
memory usage: 25.6 MB
(478952, 6)

                 id        user_id  user_order_number  day_of_week_numeral  \
count  4.789520e+05  478952.000000      478952.000000        478952.000000
mean   1.709953e+06  102966.654911          17.157563             2.775051
std    9.869537e+05   59525.292863          17.704457             2.045901
min    4.000000e+00       2.000000           1.000000             0.000000
25%    8.564698e+05   51413.750000           5.000000             1.000000
50%    1.709521e+06  102633.000000          11.000000             3.000000
75%    2.563002e+06  154419.000000          23.000000             5.000000
max    3.421079e+06  206209.000000         100.000000             6.000000

       order_hour_of_day  days_since_prior_order
count      478952.000000           450135.000000
mean           13.447034               11.101814
std             4.224567                9.190004
min             0.000000                0.000000
25%            10.000000                4.000000
50%            13.000000                7.000000
75%            16.000000               15.000000
max            23.000000               30.000000

        id  user_id  user_order_number  day_of_week_numeral  \
0  1515936   183418                 11                    6
1  1690866   163593                  5                    5
2  1454967    39980                  4                    5
3  1768857    82516                 56                    0
4  3007858   196724                  2                    4

   order_hour_of_day  days_since_prior_order
0                 13                    30.0
1                 12                     9.0
2                 19                     2.0
3                 20                    10.0
4                 12                    17.0

             id  user_id  user_order_number  day_of_week_numeral  \
265601  2464377    66525                  4                    4
66848    120945    51513                 13                    5
161790  3222390     4920                  7                    0
348652   391467   197764                 11                    5
292594   740158   146972                 10                    4

        order_hour_of_day  days_since_prior_order
265601                 12                    12.0
66848                  17                    12.0
161790                 20                    27.0
348652                 18                    10.0
292594                 18                     4.0

id count of unique values = 478952

user_id count of unique values = 157437
Column 'user_id' has 102080 duplicated values: [183418 163593  82516 ...  26798 201408  90787]

user_order_number count of unique values = 100
Column 'user_order_number' has 100 duplicated values: [ 11   5   4  56   2  40  33  18  21  34  19   7  63  29   9  12  14  24
   1  38   3  27   8  25   6  28  58  17  13  15  48  26  86  30  16  10
  78  23  35  41  39  59  77  53  43  32  99  20  68  94  98  46  72  70
  54  37  44  69  49  22  52  60  75  31  47  57  62  67  65  76  81  84
  71  80  51  95  36  83  42  87  55  97  50  61  93  91  79  88  45  82
  64  74  92  66  89  90 100  96  73  85]

day_of_week_numeral count of unique values = 7
Column 'day_of_week_numeral' has 7 duplicated values: [6 5 0 4 3 1 2]

order_hour_of_day count of unique values = 24
Column 'order_hour_of_day' has 24 duplicated values: [13 12 19 20 11  8 18 15 16  9 22 10  0 14 17  1  7  6  2 21  3 23  5  4]

days_since_prior_order count of unique values = 31
Column 'days_since_prior_order' has 32 duplicated values: [30.  9.  2. 10. 17. 15. 22.  4.  8.  3. 12. 11.  7.  1.  5.  6. 14. nan
 20. 16. 24. 23. 27. 13.  0. 28. 21. 25. 19. 18. 29. 26.]



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4545007 entries, 0 to 4545006
Data columns (total 4 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   order_id      4545007 non-null  int64
 1   product_id    4545007 non-null  int64
 2   cart_item_id  4544171 non-null  float64
 3   reordered     4545007 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 138.7 MB
(4545007, 4)

           order_id    product_id  cart_item_id     reordered
count  4.545007e+06  4.545007e+06  4.544171e+06  4.545007e+06
mean   1.711166e+06  2.558084e+04  8.351669e+00  5.905025e-01
std    9.850955e+05  1.409552e+04  7.080368e+00  4.917411e-01
min    4.000000e+00  1.000000e+00  1.000000e+00  0.000000e+00
25%    8.608170e+05  1.353500e+04  3.000000e+00  0.000000e+00
50%    1.711530e+06  2.527200e+04  6.000000e+00  1.000000e+00
75%    2.561311e+06  3.793500e+04  1.100000e+01  1.000000e+00
max    3.421079e+06  4.969400e+04  6.400000e+01  1.000000e+00

   order_id  product_id  cart_item_id  reordered
0   2141543       11440          17.0          0
1    567889        1560           1.0          1
2   2261212       26683           1.0          1
3    491251        8670          35.0          1
4   2571142        1940           5.0          1

         order_id  product_id  cart_item_id  reordered
3470534    366608       17902           2.0          0
2817268   2441469        7361          15.0          0
1819398     85207        3469          18.0          0
275309    3087276       13660           2.0          1
4302857   1019319       21405          10.0          1

order_id count of unique values = 450046
Column 'order_id' has 428199 duplicated values: [2141543  567889 2261212 ... 2723101 2447495 1029185]

product_id count of unique values = 45573
Column 'product_id' has 40526 duplicated values: [11440  1560 26683 ... 42744 41258 21507]

cart_item_id count of unique values = 64
Column 'cart_item_id' has 65 duplicated values: [17.  1. 35.  5.  4. 10. 14.  2. 28.  3. 16.  8.  7.  6.  9. 15. 22. 49.
 19. 13. 11. 12. 18. 24. 23. 45. 30. 31. 29. 21. 38. 20. 57. 58. 26. 25.
 39. 34. 40. 27. nan 43. 33. 42. 50. 32. 36. 37. 61. 46. 56. 41. 44. 55.
 54. 47. 63. 48. 60. 62. 53. 59. 52. 51. 64.]

reordered count of unique values = 2
Column 'reordered' has 2 duplicated values: [0 1]



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49694 entries, 0 to 49693
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             49694 non-null  int64
 1   name           48436 non-null  object
 2   aisle_id       49694 non-null  int64
 3   department_id  49694 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB
(49694, 4)

                 id      aisle_id  department_id
count  49694.000000  49694.000000   49694.000000
mean   24847.500000     67.773192      11.728478
std    14345.566475     38.317265       5.850314
min        1.000000      1.000000       1.000000
25%    12424.250000     35.000000       7.000000
50%    24847.500000     69.000000      13.000000
75%    37270.750000    100.000000      17.000000
max    49694.000000    134.000000      21.000000

   id                                               name  aisle_id  \
0   1                         Chocolate Sandwich Cookies        61
1   2                                   All-Seasons Salt       104
2   3               Robust Golden Unsweetened Oolong Tea        94
3   4  Smart Ones Classic Favorites Mini Rigatoni Wit...        38
4   5                          Green Chile Anytime Sauce         5

   department_id
0             19
1             13
2              7
3              1
4             13

          id                                             name  aisle_id  \
40333  40334                         Organic White Pita Bread       128
39130  39131                                   Calendula Soap        25
34712  34713                      Shredded Pepper Jack Cheese        21
6402    6403  Slow Churned Light Mint Cookie Crunch Ice Cream        37
17645  17646                Light Tongol Tuna In Spring Water        95

       department_id
40333              3
39130             11
34712             16
6402               1
17645             15

id count of unique values = 49694

name count of unique values = 48436
Column 'name' has 1 duplicated values: [nan]

aisle_id count of unique values = 134
Column 'aisle_id' has 134 duplicated values: [ 61 104  94  38   5  11  98 116 120 115  31 119  74  56 103  35  79  63
  40  20  49  47   3  41 127 121  81 123 107 131 106  69 100  64  78  83
  58  66  87  14 105  22 134  23 111 128  50   9  96  92  89  88 130  26
  77  65  12  95  19   7   6  97   2 112  10  51  13  75  70  93  34  62
  21  29  45 118   4 108  37 109  91  24  67 132  25 129  46  16  52  17
  73 122  42  59 126  33   1   8  82 114 124 117  72 110  85  44  80 101
  84  30  27  90  48 133  53  28  68  43 125  57  15  55  36  54 102  60
  99  18  39  71 113  86  32  76]

department_id count of unique values = 21
Column 'department_id' has 21 duplicated values: [19 13  7  1 11 16 17 18 12  9  8 14 15  4 21  6 20  5  3  2 10]

## Find and remove duplicate values (and describe why you make your choices)

### `orders` data frame

In [7]:
# Check for duplicated orders

In [8]:
# Check for all orders placed Wednesday at 2:00 AM

In [9]:
# Remove duplicate orders

In [10]:
# Double check for duplicate rows

In [11]:
# Double check for duplicate order IDs only

### `products` data frame

In [12]:
# Check for fully duplicate rows

In [13]:
# Check for just duplicate product IDs

In [14]:
# Check for just duplicate product names (convert names to lowercase to compare better)

In [15]:
# Check for duplicate product names that aren't missing

### `departments` data frame

### `aisles` data frame

### `order_products` data frame

In [16]:
# Check for fullly duplicate rows

In [17]:
# Double check for any other tricky duplicates

## Find and remove missing values

### `products` data frame

In [18]:
# Are all of the missing product names associated with aisle ID 100?

In [19]:
# Are all of the missing product names associated with department ID 21?

In [20]:
# What is this ailse and department?

In [21]:
# Fill missing product names with 'Unknown'

### `orders` data frame

In [22]:
# Are there any missing values where it's not a customer's first order?

### `order_products` data frame

In [23]:
# What are the min and max values in this column?

In [24]:
# Save all order IDs with at least one missing value in 'add_to_cart_order'

In [25]:
# Do all orders with missing values have more than 64 products?

In [26]:
# Replace missing values with 999 and convert column to integer type

# [A] Easy (must complete all to pass)

### [A1] Verify that the `'order_hour_of_day'` and `'order_dow'` values in the `orders` tables are sensible (i.e. `'order_hour_of_day'` ranges from 0 to 23 and `'order_dow'` ranges from 0 to 6)

### [A2] What time of day do people shop for groceries?

### [A3] What day of the week do people shop for groceries?

### [A4] How long do people wait until placing another order?

# [B] Medium (must complete all to pass)

### [B1] Is there a difference in `'order_hour_of_day'` distributions on Wednesdays and Saturdays? Plot the histograms for both days and describe the differences that you see.

### [B2] What's the distribution for the number of orders per customer?

### [B3] What are the top 20 popular products (display their id and name)?

# [C] Hard (must complete at least two to pass)

### [C1] How many items do people typically buy in one order? What does the distribution look like?

### [C2] What are the top 20 items that are reordered most frequently (display their names and product IDs)?

### [C3] For each product, what proportion of its orders are reorders?

### [C4] For each customer, what proportion of their products ordered are reorders?

### [C5] What are the top 20 items that people put in their carts first?